# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment variables
.env

# Models and large files
# scheme_router_model.joblib

# IDEs
.vscode/
.idea/
.gemini/

# OS
.DS_Store
Thumbs.db
